BODY  {
    background-color: #F4F4F4;
    font-size: 0.5em;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif; 
   /* background-image:url('body-bg.png');
    background-repeat:repeat-x; */
}

A:link {
    padding: 5px;
    text-decoration: none;
}

A:hover {color: red;}

.tab-panel{
    width: 800;
    height: 480;
}

.quick-start{
    background: white;
    font-size: 0.9em;
}

.panel {background: #FFAAAA}
.panel2 {background: #AAFFAA}

.design-panel{
    background: #FFFFFF;
    border-style: solid;
    border-width: 0px;
    border-color: #C3CAD1;
    width: 400px;
    height: 300px;
}

.move{
    cursor: move;
}

.cursor{
    position: absolute;
    border-style: dashed;
    border-color: #FF0000;
    border-width: 1
}

.pane{
    background: #D3DAE1;
    width: 300px;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    background-image:url('dlg-bg.png');
}

.inspector{
    background: white
}
.property-label{
    width: 100;
    font-size: 0.7em;
    padding: 3px;
}

.property-box{
    border-style: none none solid none;
    border-width: 1px;
}

.pane-title{
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 0.8em;
    text-vertical-align: middle;
    background-image:url('title-bg.png');background-repeat:repeat-x;
    height:23px;
}

.palette-link{
    font-size: 0.8em;
}

.palette-label{
    font-size: 0.8em;
    font-weight: bold;
    color: #9096C0;
    text-vertical-align: middle;
}

.gwt-StackPanel .gwt-StackPanelItem {
    font-size: 0.8em;
    font-weight: bold;
    color: black;
}
.gwt-StackPanel .gwt-StackPanelItem-selected {
    font-size: 0.8em;
    font-weight: bold;
    color: #838A91;
}

.gwt-MenuBar {
    background-color: #A3AAB1;
    background-image:url('title-bg.png');background-repeat:repeat-x;    
}
.gwt-MenuBar .gwt-MenuItem {
    font-size: 0.9em;
}

.gwt-MenuBar .gwt-MenuItem-selected, .gwt-Tree .gwt-TreeItem-selected {
    background-color: #A00000;
    color: white;
}

.gwt-Tree .gwt-TreeItem{font-size: 0.8em;}

.gwt-TabBar .gwt-TabBarItem {
    height: 23px;
    text-vertical-align: middle;
    padding: 0px 5px 0px 5px;
    border: solid;
    border-width: 1px;
    font-size: 0.8em;
    color: black;
    background-image:url('title-bg.png');background-repeat:repeat-x;
}

.gwt-TabPanelBottom{
    border: solid;
    border-width: 1px;
    height: 100%;
}

.gwt-TabBar .gwt-TabBarItem-selected {
    font-weight: bold;
    background-image:url('active-tab-bg.png');background-repeat:repeat-x;
    color: black;
 }

.gwt-DialogBox {
    border: solid;
    border-width: 1px;
    background: white;
    text-align: right;
    font-size: 0.8em;
}

.gwt-DialogBox .Caption {
    height: 26px;
    text-vertical-align: middle;
    background-image:url('tabs-bg.png');background-repeat:repeat-x;
    font-size: 0.8em;
}

.code-viewer{
    background-color: white;
    font-size: 0.8em;
    padding: 15px;
}

.code-viewer-keyword{
    color: #000099;
    font-weight: bold;
}